/*Responsive*/

@media only screen and (max-width: 980px) {

	body {
		width: 85%;
		height: 1000px;
		margin: auto;
	}

	.about-me {
		height: auto;

	}

	.about-me img {
		width: 90%;
		height: 100%;
		margin: 15px 5% 20px 5%;
		
	}

	.about-me p {
		margin-left: 20px;
		margin-right: 20px;

	}

	.connect-with-me img {
	    margin: 5px 0px 0px 0px;
	    height: 45px;
	}

	.port {
		height: 750px;
    }

    .port li {
		width: 90%;
		height: 250px;
		margin: 15px 5% 20px 5%;
	}

	.port img {
		width: 100%;
		height: 100%;
	}

	
}


@media only screen and (max-width: 768px) {

    body {
    	height: 1150px;
    }

    .tabs {
    	padding-right: 25px;
    	position: absolute;
    }

    .about-me {
    	margin: 35px;
    }

    .about-me img {
    	width: 45%;
		margin: 15px 15px 0px 15px;
    }

    .port {
    	height: 700px;
    	margin: 35px;
    }

    .port li {
		width: 45%;
		height: 180px;
		margin: 10px 0px 10px 3.2%;
		float: left;
	}

    .connect-with-me {
	    margin: 35px;
	    padding: 20px 35px 20px 35px;
	    text-align: left;
	}

	.connect-with-me img {
		height: 51px;
	}

	.connect-with-me {
		margin: 35px;
	}
}


@media only screen and (max-width: 640px) {
    /* For mobile phones: */
    body {
    	height: 1200px;
    }

    .name h1 {
    	width: 100%;
    	margin: 0;
	}

	.tabs {
		text-align: center;
		position: relative;
		background: #fff;
		margin-bottom: 20px;
		padding: 0px;
		height: 40px;
		line-height: 40px;
	}

	.about-me {
		margin: 25px;
		height: auto;
	}

	.about-me img {
		width: 90%;
		margin: 15px 5% 15px 5%;
	}

	.connect-with-me {
		margin: 25px;
		text-align: center;
	}

    .port {
    	margin: 25px;
    }

    .port li {
		width: 90%;
		height: 200px;
		margin: 15px 5% 20px 5%;
	}

}
